<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      internalLogLevel="Trace"
      throwExceptions="true"
>
  <!--internalLogFile="${basedir}/App_Data/NLog.log"-->
  <extensions>
    <add assembly="Logging" />
    <!--Contains GibraltarTarget class marked as "Gibraltar" target type-->
  </extensions>
  
  <targets>
    <target name="LogError" xsi:type="File"
       layout="${date:format=yyyy\.MM\.dd HH\:mm\:ss}|TD|${message}|TD|${logger}|TD|${level}|TR|"
       fileName="${basedir}/logs/LogWarn.clg"
       archiveFileName="${basedir}/logs/archive/LogError ${date:format=yyyy\-MM\-dd HH\_mm\_ss}.{##}.clg"
       archiveNumbering="Rolling"
       archiveEvery="Day"
       archiveAboveSize="20000"
       maxArchiveFiles="33"
       keepFileOpen="false"
       encoding="iso-8859-2" />

    <target name="LogFatal" xsi:type="File"
       layout="${date:format=yyyy\.MM\.dd HH\:mm\:ss}|TD|${message}|TD|${logger}|TD|${level}|TR|"
       fileName="${basedir}/logs/LogWarn.clg"
       archiveFileName="${basedir}/logs/archive/LogFatal ${date:format=yyyy\-MM\-dd HH\_mm\_ss}.{##}.clg"
       archiveNumbering="Rolling"
       archiveEvery="Day"
       archiveAboveSize="20000"
       maxArchiveFiles="33"
       keepFileOpen="false"
       encoding="iso-8859-2" />

    <target name="LogWarn" xsi:type="File"
      layout="${date:format=yyyy\.MM\.dd HH\:mm\:ss}|TD|${message}|TD|${logger}|TD|${level}|TR|"
      fileName="${basedir}/logs/LogWarn.clg"
      archiveFileName="${basedir}/logs/archive/LogDebug ${date:format=yyyy\-MM\-dd HH\_mm\_ss}.{##}.clg"
      archiveNumbering="Rolling"
      archiveEvery="Day"
      archiveAboveSize="20000"
      maxArchiveFiles="33"
      keepFileOpen="false"
      encoding="iso-8859-2" />

    <target name="LogInfo" xsi:type="File"
      layout="${date:format=yyyy\.MM\.dd HH\:mm\:ss}|TD|${message}|TD|${logger}|TD|${level}|TR|"
      fileName="${basedir}/logs/LogInfo.clg"
      archiveFileName="${basedir}/logs/archive/LogInfo ${date:format=yyyy\-MM\-dd HH\_mm\_ss}.{##}.clg"
      archiveNumbering="Rolling"
      archiveEvery="Day"
      archiveAboveSize="20000"
      maxArchiveFiles="33"
      keepFileOpen="false"
      encoding="iso-8859-2" />
    
    <target name="LogDebug" xsi:type="File"
      layout="${date:format=yyyy\.MM\.dd HH\:mm\:ss}|TD|${message}|TD|${logger}|TD|${level}|TR|"
      fileName="${basedir}/logs/LogDebug.clg"
      archiveFileName="${basedir}/logs/archive/LogDebug ${date:format=yyyy\-MM\-dd HH\_mm\_ss}.{##}.clg"
      archiveNumbering="Rolling"
      archiveEvery="Day"
      archiveAboveSize="20000"
      maxArchiveFiles="33"
      keepFileOpen="false"
      encoding="iso-8859-2" />
    
    <target name="LogTrace" xsi:type="File"
      layout="${date:format=yyyy\.MM\.dd HH\:mm\:ss}|TD|${message}|TD|${logger}|TD|${level}|TR|"
      fileName="${basedir}/logs/LogTrace.clg"
      archiveFileName="${basedir}/logs/archive/LogTrace ${date:format=yyyy\-MM\-dd HH\_mm\_ss}.{##}.clg"
      archiveNumbering="Rolling"
      archiveEvery="Day"
      archiveAboveSize="100000"
      maxArchiveFiles="33"
      keepFileOpen="false"
      encoding="iso-8859-2" />
  </targets>

  <rules>
    <!--Highest to lowest: Fatal, Error, Warn, Info, Debug, Trace-->
    <!--Includes Fatal-->
    <!--<logger name="*" minlevel="Fatal" writeTo="LogFatal" />-->

    <!--Includes Error and above: Fatal, Error-->
    <logger name="*" minlevel="Error" writeTo="LogError" />

    <!--Includes Warn and above: Fatal, Error, Warn-->
    <logger name="*" minlevel="Warn" writeTo="LogWarn" />
    
    <!--Includes Info and above: Fatal, Error, Warn, Info-->
    <logger name="*" minlevel="Info" writeTo="LogInfo" />
    
    <!--Includes Debug and above: Fatal, Error, Warn, Info, Debug-->
    <logger name="*" minlevel="Debug" writeTo="LogDebug" />

    <!--Includes Trace and above: Fatal, Error, Warn, Info, Debug, Trace-->
    <logger name="*" minlevel="Trace" writeTo="LogTrace" />
  </rules>
</nlog>


<!-- optional, add some variabeles
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
<!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->

<!-- 
    add your targets here 
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    -->

<!--<target name="generalLogFile" xsi:type="File"
             
      layout="${pad:padding=-5:inner=${level:upperCase=true}} ${date:format=s} [${threadid}] - ${logger} ${newline}${message}${newline}${onexception:Exception: ${exception:format=tostring}${newline}}"
        fileName="${basedir}/logs/CallFlowManager.log"
            archiveNumbering="Rolling"
            maxArchiveFiles="3"
        keepFileOpen="false"
        encoding="iso-8859-2" />

    <target name="wcfLogFile" xsi:type="File"
             
       layout="${pad:padding=-5:inner=${level:upperCase=true}} ${date:format=s} [${threadid}] - ${logger} ${newline}${message}${newline}${onexception:Exception: ${exception:format=tostring}${newline}}"
         fileName="${basedir}/logs/Lync_WCF.log"
             archiveNumbering="Rolling"
             maxArchiveFiles="3"
         keepFileOpen="false"
         encoding="iso-8859-2" />

    <target xsi:type="File" name="default"
        layout="${longdate} - ${level:uppercase=true}: ${message}${onexception:${newline}EXCEPTION\: ${exception:format=ToString}}"
        fileName="${basedir}/logs/Debug.log"
        keepFileOpen="false"
        archiveFileName="${basedir}/logs/Debug_${shortdate}.{##}.log"
        archiveNumbering="Sequence"
        archiveEvery="Day"
        maxArchiveFiles="30"
            />

    <target name="LogInfoCsv" xsi:type="File" fileName="${basedir}/logs/LogInfo.csv">
      <layout xsi:type="CSVLayout">
        <column name="time" layout="${date:format=yyyy\.MM\.dd HH\:mm\:ss}" />
        <column name="message" layout="${message}" />
        <column name="logger" layout="${logger}"/>
        <column name="level" layout="${level}"/>
      </layout>
    </target>

    <target name="LogDebugCsv" xsi:type="File"
          fileName="${basedir}/logs/LogDebug ${date:format=yyyy\-MM\-dd HH\_mm\_ss:cached=true}.csv"
          archiveFileName="${basedir}/logs/archive/LogDebug ${date:format=yyyy\-MM\-dd HH\_mm\_ss}.{##}.csv"
          archiveEvery="Day"
          archiveNumbering="Rolling"
          maxArchiveFiles="50"
              >
      <layout xsi:type="CSVLayout">
        <column name="time" layout="${date:format=yyyy\.MM\.dd HH\:mm\:ss}" />
        <column name="message" layout="${message}" />
        <column name="logger" layout="${logger}"/>
        <column name="level" layout="${level}"/>
        <column name="MachineName" layout="${machinename}"/>
        <column name="ThreadID" layout="${threadid}" />
        <column name="ThreadName" layout="${threadname}" />
        <column name="ProcessID" layout="${processid}" />
        <column name="ProcessName" layout="${processname}" />
        <column name="UserName" layout="${windows-identity}" />
        <column name="Exception" layout="${exception:format=ToString}" />
      </layout>
    </target>

    <target name="LogTraceXml" xsi:type="File" fileName="${basedir}/logs/LogTrace.xml">
      <layout xsi:type="XmlLayout">
        <property name="DateItem" layout="${date:format=yyyy\.MM\.dd HH\:mm\:ss}" />
        <property name="Message" layout="${message}" />
        <property name="Logger" layout="${logger}"/>
        <property name="Level" layout="${level}"/>
        <property name="MachineName" layout="${machinename}"/>
        <property name="ThreadID" layout="${threadid}" />
        <property name="ThreadName" layout="${threadname}" />
        <property name="ProcessID" layout="${processid}" />
        <property name="UserName" layout="${windows-identity}" />
        <property name="Exception" layout="${exception:format=ToString}" />
      </layout>
    </target>-->

